@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    (312) 890-2006
</address>

<address>
    <strong>Phone Number:</strong> (312) 890-2006<br />
    <strong>Support:</strong>   <a href="mailto:Support@RightFares.com">Support@RightFares.com</a><br />
    
</address>